{% extends "base.html" %}
{% block head_title %} {{block.super}} | about{% endblock head_title %}

{% block content %}
</br>
<h3>Hello!</h3>
<p>My name is Patryk and this is my first django project.</p>
<p>YPE allows you to save your opinion about any product.</p>
<p>For instance, you can evaluate tea which you are drinking right now.</p>
<p>I belive that YPE project would improve my skills and help me in my further career as a django developer</p>
<p>You can find more details about YPE on my <a href='https://github.com/PatrykJanMatlak/ype-app'>github.</a></p>
<p>Contact email: <a href="mailto:patrykjan.matlak@gmail.com">patrykjan.matlak@gmail.com</a></p>
{% endblock %}